
main {

	text-align: left;
	width: 100%;
	padding-top: 25px;
    padding-bottom: 40px;
    color: $text-color;

    a {
        color: $text-color;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        word-break: break-all !important; /* make sure containers don't override */
        display: inline-block !important;
    }

    /* a:hover  {
        text-decoration: underline;
        transition: width 0.25s;
        text-decoration-style: solid;
        text-decoration-color: $link-color;
    } */

    a::after {
    margin-top: -2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $text-color;
    transition: width 0.25s;
    }

    a:hover::after {
    width: 100%;
    }


    figure {
        display: block;
        width: 90%;
        margin: 2em auto;
        text-align: center;
    }

    figure table {
        width: 100%;
    }

    figcaption {
        font-size: smaller;
        line-height: 1.5em;
        color: rgba($text-color, 0.75);
        margin-bottom: -1em;
        text-align: left;
    }

    figcaption a {
        @if (lightness($background-color) < 55%) { 
            color: grayscale(darken(invert($background-color), 50%)) !important; 
        } @else { 
            color: grayscale(lighten(invert($background-color), 50%)) !important; 
        }
    }

    figcaption h4 {
        display: inline;
        font-weight: normal;
    }

    .center {
        text-align: center;
    }

}

main > :first-child { margin-top: 0 !important; }
